streamlit
requests
python-dotenv
pandas
PyPDF2
chromadb
urllib3<2
groq
langchain
langchain-core
langchain-groq
langchain-community
langsmith
sentence-transformers
tiktoken
tesseract
python-docx
pydantic
pdfplumber
sentence-transformers
python-multipart
pymupdf
pillow
langchain-groq>=0.0.1