fastapi
uvicorn[standard]
requests
langchain
langchain-community
chromadb
langchain-core
openai
langchain-groq
langsmith
groq
sentence-transformers
faiss-cpu
tiktoken
python-docx
PyPDF2
pydantic
python-dotenv
python-multipart
PyMuPDF
python-multipart
python-dotenv
